@model Marik.Core.ViewModels.ServiceViewModel
@{
    ViewBag.Title = "Content Management";
}
@section metatags{
    <meta name="keywords" content="marketing, social media, email marketing, online marketing, advertising, public relations, Google Ads, Paid search, SEO,  business, development, Web and Graphic Design, UI / UX, Web & App Development, Branding, Photography, Content management, SPSS, market research, consumer behaviour, web design" />
    <meta name="description" content="Marik gives you the best of integrated marketing and business development. Book a consultation call, and our team will help you make an impact." />
    <link href="http://www.bymarik.com/services/contentmanagement" rel="canonical" />
    <meta property="og:url" content="http://www.bymarik.com/services/contentmanagement" />
    <meta property="og:title" content="Marik | Marketing and Business Development Shop" />
    <meta property="og:description" content="Marik gives you the best of integrated marketing and business development. Book a consultation call, and our team will help you make an impact." />
    <meta property="og:image:alt" content="Marik | Marketing and Business Development shop" />
    <meta property="og:type" content="website" />
}


<section class="about container">
    <div class="row">
        <div class="col-xl-6 pr-xl-5 mb-xl-0 mb-4">
            <div class="img-con">
                <img src="@Model.ServiceContentManagementFirstSectionImagePath/@Model.ServiceContentManagementFirstSectionImageName" alt="ServiceContentManagement Marik">
            </div>
        </div>
        <div class="col-xl-6 pl-xl-5">
            <h2 class="title ml-xl-auto text-xl-right">@Html.Raw(Model.ServiceContentManagementFirstSectionTitle)</h2>
            <h4>@Html.Raw(Model.ServiceContentManagementFirstSectionFirstParagraph)</h4>
            <p>@Html.Raw(Model.ServiceContentManagementFirstSectionSecondParagraph)</p>
        </div>
    </div>
</section>

<div class="container py-5 contact">
    <div class="row">
        <div class="col-xl-6">
            <h2 class="title">Are you interested?</h2>
            <p>Submit a contact form and we'll get back to you as soon as possible!</p>
            <h5 class="mb-5 pb-5">Vahida</h5>
            <a class="mail-link" href="mailto:@Model.ContactFormDetails.WebsiteEmailAddress">@Model.ContactFormDetails.WebsiteEmailAddress</a>
            <div class="social-block pt-4 pb-xl-0 pb-4">
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.FacebookLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.FacebookLink">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.TwitterLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.TwitterLink">
                        <i class="fab fa-twitter"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.LinkedinLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.LinkedinLink">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.PinterestLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.PinterestLink">
                        <i class="fab fa-pinterest-p"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.InstagramLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.InstagramLink">
                        <i class="fab fa-instagram"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.YoutubeLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.YoutubeLink">
                        <i class="fab fa-youtube"></i>
                    </a>
                }
                @if (!string.IsNullOrEmpty(Model.ContactFormDetails.GooglePlusLink))
                {
                    <a target="_blank" href="@Model.ContactFormDetails.GooglePlusLink">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                }
            </div>
        </div>
        <div class="col-xl-6">
            @using (Ajax.BeginForm("SubmitForm", "Services", null, new AjaxOptions
            {
                HttpMethod = "POST",
                InsertionMode = InsertionMode.Replace,
                UpdateTargetId = "MessageCont"
            }))
            {
                <div id="MessageCont">
                    <input type="hidden" name="ContactFormDetails.LeadSource" value="@ViewBag.Title" />
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.FirstName, new { @class = "form-control", @placeholder = "first name" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.FirstName)
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.LastName, new { @class = "form-control", @placeholder = "last name" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.LastName)
                            </div>
                        </div>
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.EmailAddress, new { @class = "form-control", @placeholder = "email" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.EmailAddress)
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.PhoneNumber, new { @class = "form-control", @placeholder = "phone" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.PhoneNumber)
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.Location, new { @class = "form-control", @placeholder = "location" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.Location)
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.BusinessName, new { @class = "form-control", @placeholder = "business name" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.BusinessName)
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                @Html.TextBoxFor(m => m.ContactFormDetails.Website, new { @class = "form-control", @placeholder = "website" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.Website)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                @Html.TextAreaFor(m => m.ContactFormDetails.Note, new { @class = "form-control", @placeholder = "how can I help?" })
                                @Html.ValidationMessageFor(m => m.ContactFormDetails.Note)
                            </div>
                            @Html.AntiForgeryToken()
                            <button class="btn button inverse w-100" type="submit" id="ShowingSubmitBtn">submit</button>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>

@section scripts{
    <script type="application/ld+json">
        {
        "@@context": "https://schema.org",
        "@@type": "ProfessionalService",
        "name": "Marik",
        "image": "http://www.bymarik.com/Content/img/logo.png",
        "@@id": "Marik",
        "url": "http://www.bymarik.com",
        "telephone": "+38762779938",
        "priceRange": "$0-$500",
        "address": {
        "@@type": "PostalAddress",
        "streetAddress": "Ulica",
        "addressLocality": "Mostar",
        "postalCode": "88000",
        "addressCountry": "BA"
        },
        "geo": {
        "@@type": "GeoCoordinates",
        "latitude": 43.3249856,
        "longitude": 17.82421320000003
        },
        "openingHoursSpecification": {
        "@@type": "OpeningHoursSpecification",
        "dayOfWeek": [
        "Monday",
        "Tuesday",
        "Wednesday",
        "Thursday",
        "Friday",
        "Saturday",
        "Sunday"
        ],
        "opens": "00:00",
        "closes": "23:59"
        },
        "sameAs": "https://www.instagram.com/marik.agency/"
        }
    </script>
}