<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @Styles.Render("~/Content/AdminCSS")
    @Styles.Render("~/Content/admin/FontAwesomeCss")
    @RenderSection("styles", required: false)
</head>
<body class="adminbody">
    <div id="main">
        <div class="headerbar">
            <div class="headerbar-left">
                <a href="@Url.Action("Index", "Dashboard")" class="logo">  <span>Marik</span></a>
            </div>
            <nav class="navbar-custom">
                <ul class="list-inline float-right mb-0">
                    <li class="list-inline-item dropdown notif">
                        <a class="nav-link dropdown-toggle nav-user" data-toggle="dropdown" href="#" role="button" aria-haspopup="false" aria-expanded="false">
                            @*<img src="/DynamicContent/UserImages/" alt="Profile image" class="avatar-rounded">*@
                            Nemanja <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right profile-dropdown">
                            <a href="@Url.Action("ChangePassword", "Manage", new { area = "" })" class="dropdown-item notify-item">
                                <i class="fa fa fa-key"></i> <span>Change Password</span>
                            </a>
                            <a href="@Url.Action("LogOff", "Account", new { area = "" })" class="dropdown-item notify-item">
                                <i class="fa fa-power-off"></i> <span>Logout</span>
                            </a>
                        </div>
                    </li>
                </ul>
                <ul class="list-inline menu-left mb-0">
                    <li class="float-left">
                        <button class="button-menu-mobile open-left">
                            <i class="fa fa-fw fa-bars"></i>
                        </button>
                    </li>
                </ul>
            </nav>
        </div>
        <!-- End Navigation -->
        <!-- Left Sidebar -->
        <div class="left main-sidebar">
            <div class="sidebar-inner leftscroll">
                <div id="sidebar-menu">
                    <ul>
                        <li class="submenu">
                            <a href="@Url.Action("Index", "Dashboard")"><i class="fa fa-object-group" aria-hidden="true"></i><span> Dashboard </span> </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript: void(0);"><i class="fa fa-file-text" aria-hidden="true"></i> <span> Products </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "ProductManager")">Active Products</a></li>
                                <li><a href="@Url.Action("InactiveProducts", "ProductManager")">Inactive Products</a></li>
                                <li><a href="@Url.Action("NewProduct", "ProductManager")">New Product</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript: void(0);"><i class="fa fa-align-justify" aria-hidden="true"></i> <span> Blogs </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "BlogManager")">Active Blogs</a></li>
                                <li><a href="@Url.Action("InactiveBlogs", "BlogManager")">Inactive Blogs</a></li>
                                <li><a href="@Url.Action("NewBlog", "BlogManager")">New Blog</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="javascript: void(0);"><i class="fa fa-envelope-o" aria-hidden="true"></i> <span> Newsletter </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "MailChimpManager")">Subscriptions</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="@Url.Action("Index", "LeadManager")"><i class="fa fa-users" aria-hidden="true"></i><span> Contacts </span> </a>
                        </li>
                        <li class="submenu">
                            <a href="javascript: void(0);"><i class="fa fa-smile-o" aria-hidden="true"></i> <span> Client Reviews </span> <span class="menu-arrow"></span></a>
                            <ul class="list-unstyled">
                                <li><a href="@Url.Action("Index", "ReviewsManager")">Active Reviews</a></li>
                                <li><a href="@Url.Action("InactiveReviews", "ReviewsManager")">Inactive Reviews</a></li>
                                <li><a href="@Url.Action("NewReview", "ReviewsManager")">New Review</a></li>
                            </ul>
                        </li>
                        <li class="submenu">
                            <a href="@Url.Action("Index", "GlobalSettings")"><i class="fa fa-cogs" aria-hidden="true"></i><span> Global Settings </span> </a>
                        </li>
                        <li class="submenu">
                            <a target="_blank" href="@Url.Action("Index", "Home", new { area = "Editor" })"><i class="fa fa-edit" aria-hidden="true"></i><span> Content Editor </span> </a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <!-- End Sidebar -->
        <div class="content-page">
            <div class="content pt-3">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <footer class="footer">
            <span class="float-right">
                Powered by <a target="_blank" href="https://www.struix.co/"><b>Struix</b></a>
            </span>
        </footer>
    </div>

    @Scripts.Render("~/bundles/AdminScripts")
    @RenderSection("scripts", required: false)
</body>
</html>