@model Marik.Core.ViewModels.BlogDetailsViewModel
@using System.Text.RegularExpressions
@{
    ViewBag.Title = Model.Caption;
    var imageNameNoSpaces = Regex.Replace(Model.Image, " ", "%20");
}

<article class="container py-5 blog-details wrapper-600">
    @*<img src="~/@Model.Image" alt="@Model.Caption" class="d-block mb-3" />*@
    <h2 class="title text-center pb-4 mb-4">@Model.Caption</h2>
    <h4 class="blog-details-h4">@Model.Date</h4>
    <h4 class="blog-details-h4 mb-5">@Model.BlogType</h4>
    <div class="blog-text">
        @Html.Raw(Model.Text)
    </div>
    <p class="share-text pt-5">Share this blog: </p>
    <div class="social-share-buttons text-center">
        <a href="http://www.facebook.com/sharer.php?u=http://www.bymarik.com/blogs/blogpost/@Model.Id&picture=http://www.bymarik.com/@Model.Image" target="_blank">
            <i class="fab fa-facebook"></i>
        </a>
        <a href="https://twitter.com/share?url=http://www.bymarik.com/blogs/blogpost/@Model.Id&amp;text=@Model.Caption" target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://plus.google.com/share?url=http://www.bymarik.com/blogs/blogpost/@Model.Id" target="_blank">
            <i class="fab fa-google-plus"></i>
        </a>
        <a href="http://www.linkedin.com/shareArticle?mini=true&amp;url=http://www.bymarik.com/blogs/blogpost/@Model.Id" target="_blank">
            <i class="fab fa-linkedin"></i>
        </a>
        <a href="http://www.tumblr.com/share/link?url=http://www.bymarik.com/blogs/blogpost/@Model.Id&amp;title=@Model.Caption" target="_blank">
            <i class="fab fa-tumblr"></i>
        </a>
    </div>
</article>