<!DOCTYPE html>
<html>
<head prefix="og: http://ogp.me/ns#">
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <title>Marik | @ViewBag.Title</title>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <meta property="og:image" content="http://www.bymarik.com/Content/img/logo.png">
    <meta property="og:image:type" content="image/png">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-141687145-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'UA-141687145-1');
    </script>
    @RenderSection("metatags", required: false)
    @Styles.Render("~/Content/UserCSS.min.css")
    @RenderSection("styles", required: false)
    <meta name="google-site-verification" content="Kq96MYW20diV_VLqMJCn0gw-pI6BWoE1yULfFdYRa28" />
</head>
<body>
    <header>
        <div class="menu-container container-fluid">
            <nav class="navbar navbar-expand">
                <a class="navbar-brand" href="@Url.Action("Index", "Home")">
                    <img src="~/Content/img/logo.png"
                         alt="Marik | Marketing & Business Development">
                </a>
                <button class="navbar-toggler" type="button" id="open-menu">
                    <span class="navbar-toggler-icon"><i class="fas fa-bars"></i></span>
                </button>
                <div class="navbar-expand ml-auto" id="navbarNav">
                    <ul class="navbar-nav">
                        <button class="navbar-toggler" type="button" id="close-menu">
                            <span class="navbar-toggler-icon"><i class="fas fa-times"></i></span>
                        </button>
                        <div class="mobile-logo"><a href="@Url.Action("Index", "Home")"><img src="~/Content/img/logo-white.png" alt="Marik | Marketing & Business Development"></a></div>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "About")">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#services">Work With Us</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Products")">products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "Blogs")">blog</a>
                        </li>
                        <li class="nav-item get-started">
                            <a class="nav-link" href="@Url.Action("Index", "Contact")">get started now</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item get-started">
                                <a class="nav-link" target="_blank" href="@Url.Action("Index", "Dashboard", new { area = "Admin" })">admin dashboard</a>
                            </li>
                        }
                    </ul>
                </div>
            </nav>
        </div>
        <div class="home-banner">
            <img src="@ViewBag.TopImage" alt="Business table">
            <div class="banner-overlay">
                <h1>@Html.Raw(ViewBag.Headline)</h1>
                <h3>@Html.Raw(ViewBag.SubHeadline)</h3>
                <a href="@Url.Action("Index", "Contact")" class="btn button inverse">book your free 30 minute strategy session</a>
            </div>
        </div>
    </header>
    <main>
        @RenderBody()
    </main>

    @Html.Action("Index", "Footer")

    @Scripts.Render("~/bundles/UserScripts")
    @RenderSection("scripts", required: false)
</body>
</html>
