@model Marik.Core.ViewModels.ServiceViewModel
@{
    ViewBag.Title = "SPSS";
}

@using (Html.BeginForm("SaveSPSSContent", "Services", FormMethod.Post, new { area = "Editor", enctype = "multipart/form-data" }))
{
    <div class="home-banner">
        <label for="ServiceSPSSMainImageFile" class="button btn image-editor-button-label">Change image</label>
        @Html.TextBoxFor(m => m.ServiceSPSSMainImageFile, new { @class = "image-editor-button", type = "file" })
        <img id="ServiceSPSSMainImageFileImage" src="@Model.ServiceSPSSMainImagePath/@Model.ServiceSPSSMainImageName" alt="banner">
        <div class="banner-overlay">
            <h1>@Html.TextAreaFor(m => m.ServiceSPSSTitle, new { @class = "WebsiteEditorArea" })</h1>
            <h3>@Html.TextAreaFor(m => m.ServiceSPSSSubtitle, new { @class = "WebsiteEditorArea" })</h3>
        </div>
    </div>
    <section class="about container">
        <div class="row">
            <div class="col-xl-6 pr-xl-5 mb-xl-0 mb-4">
                <div class="img-con">
                    <label for="ServiceSPSSFirstSectionImageFile" class="button btn image-editor-button-label">Change image</label>
                    @Html.TextBoxFor(m => m.ServiceSPSSFirstSectionImageFile, new { @class = "image-editor-button", type = "file" })
                    <img id="ServiceSPSSFirstSectionImageFileImage" src="@Model.ServiceSPSSFirstSectionImagePath/@Model.ServiceSPSSFirstSectionImageName" alt="ServiceSPSS Marik">
                </div>
            </div>
            <div class="col-xl-6 pl-xl-5">
                <h2 class="title ml-xl-auto text-xl-right">@Html.TextAreaFor(m => m.ServiceSPSSFirstSectionTitle, new { @class = "WebsiteEditorArea" })</h2>
                <h4>@Html.TextAreaFor(m => m.ServiceSPSSFirstSectionFirstParagraph, new { @class = "WebsiteEditorArea" })</h4>
                <p>@Html.TextAreaFor(m => m.ServiceSPSSFirstSectionSecondParagraph, new { @class = "WebsiteEditorArea" })</p>
            </div>
        </div>
    </section>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-block btn-success btn-save-editor"><i class="fa fa-check" aria-hidden="true"></i></button>
}
